.header {
  border: 15px solid #d90429;
  background-color: #ef233c;
  padding: 20px 70px 35px;
}
h1 {
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 50px;
    color: #edf2f4;
}

.options {
  background-color: #2b2d42;
    border: 15px solid #8d99ae;
  padding: 20px 70px 35px;
}

h3 {
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 25px;
    color: #edf2f4;
}

