.heada {
  border: 15px solid #d90429;
  background-color: #ef233c;
  padding: 2px 30px 25px;
}

h1 {
  text-align: center;
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 33px;
    color: #edf2f4;
}

.reading1 {
  border: 15px solid #8d99ae;
  background-color: #edf2f4;
  padding: 2px 20px 20px;
}

ul {
  color: #2b2d42;
  font-family: monospace, Courier-New;
  font-weight: lighter;
}
 p {
   color: #2b2d42;
   font-family: monospace, Courier-New;
   font-weight: lighter;
 }

 h3 {
   font-family: monospace, Courier-New;
   font-weight: bold;
   color: #2b2d42;
   font-size: 17.5px;
 }

 ol {
   color: #2b2d42;
   font-family: monospace, Courier-New;
   font-weight: lighter;
 }
h5 {
  color: #2b2d42;
  font-family: monospace, Courier-New;
  font-weight: lighter;
}
 .reading2 {
   border: 15px solid #8d99ae;
   background-color: #edf2f4;
   padding: 2px 20px 20px;
 }
