body {
  background-color: #edf2f4;
}

.main {
  border: 15px solid #d90429;
  background-color: #ef233c;
  padding: 20px 70px 35px;
}


h1 {
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 50px;
    color: #edf2f4;
}

h2 {
  text-align: center;
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 40px;
    color: #F9F5EB;
}

.options {
  background-color: #2b2d42;
    border: 15px solid #8d99ae;
  padding: 20px 70px 35px;
}

h3 {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #F9F5EB;
  text-align: center;
}

ul {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #967E76;
}

ol {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #967E76;
}

.op1 {
  font-family: monospace, Courier-New;
  font-weight: lighter;
  font-size: 20px;
  color: #edf2f4;
}

.imij img {
width: 200px;
height: 200px;
position:relative;
 text-align: center;
}

h5 {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #472D2D;
}

p {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #967E76;
}

h4 {
  font-family: Trebuchet, sans-serif;
  font-weight: lighter;
  color: #472D2D;
}
